In [1]:
import os
import pandas as pd

In [21]:
base_dir = os.getcwd()
output_dir = os.path.join(base_dir, "..", "..", "output")

file_path1 = os.path.join(output_dir, "fake_news_flag.csv")
df1 = pd.read_csv(file_path1)

file_path2 = os.path.join(output_dir, "data_for_searching_news.xlsx")
df2 = pd.read_excel(file_path2)


file_path3 = os.path.join(output_dir, "telegram_media.xlsx")
df3 = pd.read_excel(file_path3)

In [22]:
df1.drop(columns="Max_Cosine_Similarity", inplace=True)

In [23]:
df1 = df1.merge(df2[['Message_ID', 'Cleaned_text']], on='Message_ID', how='left')

In [25]:
df3.head()

,Message_ID,Channel,Date,Media File,Media_Reactions,Media_Comments
0,13110,t.me/IsraelWarLive,2025-01-01 05:03:38,D:\media\IsraelWarLive_13110.jpg,"{'❤': 122, '🎉': 38, '🔥': 15, '🙏': 12, '🖕': 7, ...",[]
1,13123,t.me/IsraelWarLive,2025-01-03 12:39:36,D:\media\IsraelWarLive_13123.jpg,"{'🙏': 69, '👏': 16, '👍': 11, '😁': 2}",[]
2,13121,t.me/IsraelWarLive,2025-01-03 02:46:07,D:\media\IsraelWarLive_13121.mp4,"{'🙏': 76, '🤬': 9, '👍': 4, '🔥': 3, '🥰': 3, '❤':...",['Needed to give something more strong reply t...
3,13117,t.me/IsraelWarLive,2025-01-03 02:39:21,D:\media\IsraelWarLive_13117.jpg,"{'🙏': 47, '🤬': 22, '👍': 2, '🔥': 2, '🥰': 2, '😁'...",[]
4,13134,t.me/IsraelWarLive,2025-01-06 21:44:48,D:\media\IsraelWarLive_13134.jpg,"{'💔': 118, '😢': 29, '🙏': 27, '🤣': 15, '👍': 10,...",['This comment admits that you did care and it...

In [27]:
df1 = df1.merge(df3[['Message_ID', 'Media File']], on='Message_ID', how='left')

In [28]:
df1.columns

Index(['Message_ID', 'Fake_News_Flag', 'Cleaned_text', 'Media File'], dtype='object')

In [29]:
columns = ['Message_ID', 'Cleaned_text', 'Media File', 'Fake_News_Flag']
df1 = df1[columns]

In [30]:
df1.head()

,Message_ID,Cleaned_text,Media File,Fake_News_Flag
0,1266,donald trump hate america want eliminate israe...,D:\media\israel_1266.mp4,True
1,1268,breaking germany called european union classif...,NaN,True
2,1269,accurate photo right israel israel v hamas syr...,D:\media\israel_1269.jpg,True
3,1273,breaking idf released footage precise eliminat...,D:\media\israel_1273.mp4,True
4,1274,love israel heart please comment shabbat shalo...,D:\media\israel_1274.jpg,True

In [31]:
file_path4 = os.path.join(output_dir, "data_multimodal.csv")
df1.to_csv(file_path4, index=False)