In [7]:
import os
import pandas as pd
import requests
from bs4 import BeautifulSoup
from tqdm import tqdm

In [8]:
def fetch_article(url):
    try:
        headers = {'User-Agent': 'Mozilla/5.0'}
        response = requests.get(url, headers=headers, timeout=10)
        response.raise_for_status()
        soup = BeautifulSoup(response.text, 'html.parser')
        paragraphs = soup.find_all('p')
        article_text = '\n'.join([para.get_text() for para in paragraphs])
        return article_text.strip()
    except Exception as e:
        return f"Error: {e}"

In [9]:
base_dir = os.getcwd()
output_dir = os.path.join(base_dir, "..", "..", "output")

file_path1 = os.path.join(output_dir, "redirected_urls_1.csv")
df1 = pd.read_csv(file_path1)

In [10]:
cols_to_drop = ['news_urls', 'Cleaned_text', 'url1', 'url2']
df1.drop(columns=cols_to_drop, inplace=True)

In [11]:
df1.head()

,Message_ID,Date,Query_Text,url1_,url2_
0,1266,10/31/2024 23:59,donald trump hate america israel country donal...,https://www.nbcnews.com/politics/donald-trump/...,https://www.newyorker.com/news/daily-comment/i...
1,1268,11/1/2024 6:06,germany european union revolutionary guard cor...,Error: Message: invalid argument\n (Session i...,https://www.theguardian.com/world/article/2024...
2,1269,11/1/2024 9:12,photo israel israel v hamas syrian israel israel,https://www.aljazeera.com/gallery/2024/12/31/i...,https://news.sky.com/story/footage-from-syria-...
3,1273,11/1/2024 14:32,idf footage elimination hamas terrorist israel,https://www.foxnews.com/world/hamas-admits-pai...,https://www.theguardian.com/world/2024/oct/18/...
4,1274,11/1/2024 18:50,israel heart shabbat shalom unity strength adv...,https://jewishlink.news/to-strengthen-and-be-s...,https://www.haaretz.com/magazine/2024-03-08/ty...

In [13]:
tqdm.pandas()
df1['article1'] = df1['url1_'].progress_apply(fetch_article)
df1.to_csv('updated_articles.csv', index=False)
print(df1[['url1_', 'article1']].head())

100%|██████████| 1554/1554 [30:56<00:00,  1.19s/it]

                                               url1_  \
0  https://www.nbcnews.com/politics/donald-trump/...
1  Error: Message: invalid argument\n  (Session i...
2  https://www.aljazeera.com/gallery/2024/12/31/i...
3  https://www.foxnews.com/world/hamas-admits-pai...
4  https://jewishlink.news/to-strengthen-and-be-s...

                                            article1
0  Profile\nSections\nLocal\ntv\nFeatured\nMore F...
1  Error: No connection adapters were found for '...
2  In Pictures\nIsrael’s war on Gaza has killed a...
3  This material may not be published, broadcast,...
4  To travel to Israel during wartime is to exper...

In [14]:
tqdm.pandas()
df1['article2'] = df1['url2_'].progress_apply(fetch_article)

100%|██████████| 1554/1554 [1:22:41<00:00,  3.19s/it]

In [15]:
file_path = os.path.join(output_dir, "news_items.csv")
df1.to_csv(file_path, index=False)