In [17]:
import pandas as pd
import os
import ast

In [20]:
base_dir = os.getcwd()  # Get the script's directory
output_dir = os.path.join(base_dir, "..", "output")

file_path1 = os.path.join(output_dir, "telegram_messages.xlsx")
file_path2 = os.path.join(output_dir, "telegram_media.xlsx")

In [21]:
# Load the DataFrames
df_text = pd.read_excel(file_path1)
df_media = pd.read_excel(file_path2)

In [22]:
df_text.head()

,Message_ID,Channel,Date,Message,Text_Reactions,Text_Comments,Media File
0,13116,t.me/IsraelWarLive,2025-01-02 23:28:31,"IDF: Over the past hour, terrorists hurled roc...","{'🤬': 62, '🙏': 32, '👍': 3, '🤷\u200d♂': 2, '🔥':...",[],NaN
1,13115,t.me/IsraelWarLive,2025-01-02 23:20:32,"🇺🇸🇮🇷⚡️- ""Biden discussed plans to strike Iran ...","{'👏': 61, '🤡': 28, '🙏': 10, '😁': 5, '🔥': 4, '🖕...",['Biden/Obama are responsible for a lot of wha...,NaN
2,13114,t.me/IsraelWarLive,2025-01-01 18:40:48,Former Israeli defence minister Yoav Gallant h...,"{'👍': 80, '🙏': 16, '🤨': 9, '👏': 5, '🤔': 4, '❤'...",['A Zionist Jew and an Anti Zionist Jew walk i...,NaN
3,13113,t.me/IsraelWarLive,2025-01-01 18:40:38,"Gallant announced his retirement: ""There are m...","{'❤': 44, '👍': 23, '🤔': 9, '🙏': 8, '🤡': 5, '👏'...","['Pls, do! U have obviously overstayed ur welc...",NaN
4,13112,t.me/IsraelWarLive,2025-01-01 18:40:07,"🇵🇸🇮🇱⚡- ""If Hamas does not allow the release of...","{'🙏': 83, '🔥': 25, '👏': 10, '❤\u200d🔥': 4, '🤮'...","['Welp... We know who you voted for!!', 'https...",NaN

In [5]:
df_media.head()

,Message_ID,Channel,Date,Media File,Media_Reactions,Media_Comments
0,13110,t.me/IsraelWarLive,2025-01-01 05:03:38,D:\media\IsraelWarLive_13110.jpg,"{'❤': 122, '🎉': 38, '🔥': 15, '🙏': 12, '🖕': 7, ...",[]
1,13123,t.me/IsraelWarLive,2025-01-03 12:39:36,D:\media\IsraelWarLive_13123.jpg,"{'🙏': 69, '👏': 16, '👍': 11, '😁': 2}",[]
2,13121,t.me/IsraelWarLive,2025-01-03 02:46:07,D:\media\IsraelWarLive_13121.mp4,"{'🙏': 76, '🤬': 9, '👍': 4, '🔥': 3, '🥰': 3, '❤':...",['Needed to give something more strong reply t...
3,13117,t.me/IsraelWarLive,2025-01-03 02:39:21,D:\media\IsraelWarLive_13117.jpg,"{'🙏': 47, '🤬': 22, '👍': 2, '🔥': 2, '🥰': 2, '😁'...",[]
4,13134,t.me/IsraelWarLive,2025-01-06 21:44:48,D:\media\IsraelWarLive_13134.jpg,"{'💔': 118, '😢': 29, '🙏': 27, '🤣': 15, '👍': 10,...",['This comment admits that you did care and it...

In [6]:
# Drop redundant columns (Channel, Date, Media File) from review_df
df_media.drop(columns=['Channel', 'Date', 'Media File'], inplace=True)

# Merge the DataFrames
df_merged = pd.merge(df_text, df_media, on='Message_ID', how='left')

df_merged['Date'] = pd.to_datetime(df_merged['Date'])
df_merged.rename(columns={'Comments_x': 'Text Comments',
                          'Comments_y': 'Media Comments',
                          'Reactions_x': 'Text Reactions',
                          'Reactions_y': 'Media Reactions'}, inplace=True)

In [7]:
df_merged = df_merged[['Message_ID', 'Date', 'Message', 'Text_Comments', 'Text_Reactions', 'Media File', 'Media_Comments', 'Media_Reactions']]
df_merged.sample(10)

,Message_ID,Date,Message,Text_Comments,Text_Reactions,Media File,Media_Comments,Media_Reactions
146,13251,2025-01-17 12:39:20,🇵🇸🇮🇱⚡️- BREAKING: The Israeli cabinet has appr...,[],"{'🙏': 38, '👎': 16, '👍': 5, '👀': 3, '❤': 1}",NaN,NaN,NaN
580,6431,2025-01-15 21:10:43,The mood of medical staff in Gaza after the ce...,['May you cock\nSucker get hit by a fucking co...,"{'👍': 7, '❤': 4, '🤮': 4}",D:\media\gazanewss01_6431.mp4,['May you cock\nSucker get hit by a fucking co...,"{'👍': 7, '❤': 4, '🤮': 4}"
675,2013,2025-01-05 22:28:57,EGYPT 🇪🇬 \n\nChannel 14 reports military activ...,['No choice it’s them or us at the end will ne...,{},D:\media\israel_2013.mp4,['No choice it’s them or us at the end will ne...,{}
1514,12315,2024-11-07 15:57:21,Over 50 Rockets were fired by Hezbollah at the...,[],"{'🙏': 82, '👎': 15, '🤬': 10, '👏': 9, '❤': 4, '👍...",NaN,[],"{'🙏': 82, '👎': 15, '🤬': 10, '👏': 9, '❤': 4, '👍..."
289,13393,2025-01-21 12:37:29,"🇵🇸🇮🇱⚡- ""After Gaza and Lebanon, today we are s...",[],"{'👍': 60, '🙏': 18, '👏': 5, '❤': 4, '🔥': 4, '⚡'...",NaN,NaN,NaN
1789,12634,2024-11-24 13:31:12,NaN,[],NaN,NaN,[],NaN
769,2112,2025-01-22 03:46:48,JUST IN 🔴\n\nIn an official meeting: Israel of...,[],{'🤣': 8},D:\media\israel_2112.mp4,[],{'🤣': 8}
1858,12722,2024-11-26 18:49:55,"🇵🇸🇱🇧🇮🇱⚡️- ""In Gaza, we dismantled the Hamas ba...",[],"{'👍': 29, '🙏': 11, '❤': 10, '💯': 4}",NaN,NaN,NaN
366,13473,2025-01-25 23:50:05,They braved everything 🫡,[],"{'🙏': 24, '🥰': 6, '💯': 6, '👍': 1}",D:\media\IsraelWarLive_13473.jpg,[],"{'🙏': 24, '🥰': 6, '💯': 6, '👍': 1}"
1679,12532,2024-11-18 19:06:01,🇱🇧🇮🇱⚡️- Ballistic missiles launched from Leban...,[],"{'🙏': 41, '🤬': 13, '👍': 12, '🎉': 1}",NaN,NaN,NaN

In [8]:
# Replace 'Text_Comments' and 'Text_Reactions' with blank where 'Message' is NaN
df_merged.loc[df_merged['Message'].isna(), ['Text_Comments', 'Text_Reactions']] = ""

# Replace 'Media_Comments' and 'Media_Reactions' with blank where 'Media File' is NaN
df_merged.loc[df_merged['Media File'].isna(), ['Media_Comments', 'Media_Reactions']] = ""

# Replace 'Text_Comments' with blank where 'Text_Comments' is NaN or '[]'
df_merged.loc[df_merged['Text_Comments'].isna() | (df_merged['Text_Comments'] == "[]"), 'Text_Comments'] = ""

# Replace 'Media_Comments' with blank where 'Media_Comments' is NaN or '[]'
df_merged.loc[df_merged['Media_Comments'].isna() | (df_merged['Media_Comments'] == "[]"), 'Media_Comments'] = ""

In [9]:
# Function to convert JSON-like string to dictionary safely
def parse_reactions(reaction_str):
    try:
        return ast.literal_eval(reaction_str) if isinstance(reaction_str, str) else {}
    except (SyntaxError, ValueError):
        return {}

In [10]:
# Apply conversion to both reaction columns
df_merged['Text_Reactions'] = df_merged['Text_Reactions'].apply(parse_reactions)
df_merged['Media_Reactions'] = df_merged['Media_Reactions'].apply(parse_reactions)

In [11]:
# Positive Emojis
positive_emojis = [
    "👍", "🥰", "🕊", "🎉", "🍾", "🏆", "💯", "🤩", "😍", "💘", "💋", "🤗",
    "🤝", "😎", "😇", "🦄", "🐳", "😴", "👨‍💻", "🎄", "🎅"
]

# Negative Emojis
negative_emojis = [
    "🤬", "🔥", "💔", "🤮", "🖕", "👎", "🤡", "🤯", "😈", "😱", "😡", "💩",
    "🤪", "💅", "🤡"
]

In [12]:
# Aggregated columns for Text reactions
df_merged["Text_Positive_Reactions"] = df_merged.apply(
    lambda row: sum(row.get('Text_Reactions', {}).get(f"{emoji}", 0) for emoji in positive_emojis), axis=1
)
df_merged["Text_Negative_Reactions"] = df_merged.apply(
    lambda row: sum(row.get('Text_Reactions', {}).get(f"{emoji}", 0) for emoji in negative_emojis), axis=1
)

# Aggregated columns for Media reactions
df_merged["Media_Positive_Reactions"] = df_merged.apply(
    lambda row: sum(row.get('Media_Reactions', {}).get(f"{emoji}", 0) for emoji in positive_emojis), axis=1
)
df_merged["Media_Negative_Reactions"] = df_merged.apply(
    lambda row: sum(row.get('Media_Reactions', {}).get(f"{emoji}", 0) for emoji in negative_emojis), axis=1
)

In [13]:
df_merged.drop(columns=['Text_Reactions', 'Media_Reactions'], inplace=True)
df_merged = df_merged[['Message_ID', 'Date', 'Message', 'Text_Comments', 'Text_Positive_Reactions', 'Text_Negative_Reactions',
                       'Media File', 'Media_Comments', 'Media_Positive_Reactions', 'Media_Negative_Reactions']]

In [14]:
df_merged.sample(5)

,Message_ID,Date,Message,Text_Comments,Text_Positive_Reactions,Text_Negative_Reactions,Media File,Media_Comments,Media_Positive_Reactions,Media_Negative_Reactions
1879,12701,2024-11-26 15:57:18,🇱🇧🇮🇱⚡- A violent wave of Israeli airstrikes ag...,,3,36,NaN,,0,0
1381,1901,2024-12-26 12:27:03,WATCH⚡️\n\nSlovenian European Parliament membe...,['Ella anna yarum love panrathu ella single th...,0,0,D:\media\israel_1901.mp4,['Ella anna yarum love panrathu ella single th...,0,0
902,12884,2024-12-09 18:58:40,"🇮🇷🇮🇱⚡- ""We are working systematically to disma...",,68,0,NaN,,0,0
1645,12469,2024-11-15 12:40:38,Blasts heard in the Syrian capital Damascus.,,52,10,NaN,,0,0
1425,12236,2024-11-01 16:22:44,The IDF releases footage of some of the seven ...,['They need to be'],16,10,NaN,,0,0

In [15]:
# Exploding the 'Text_Comments' column
df_merged_exploded = df_merged.explode('Text_Comments')

# Exploding the 'Media_Comments' column
df_merged_exploded = df_merged_exploded.explode('Media_Comments')

In [16]:
file_path3 = os.path.join(output_dir, "preprocessed_data.xlsx")
df_merged_exploded.to_excel(file_path3, index=False)